

.new_slider{
    display:none;
}

.about_msg{
    height:50vh;
    background-color: #6DAFFE;
    display:flex;
    align-items:center;
    justify-content:center;
}

.overlay{
    height:54vh;
    /* background-color:rgba(106, 163, 248, 0.9); */
    display:flex;
    align-items:center;
    justify-content:center;
    position:absolute;
    width:100%;
}

.about_header{
    width:80%;
    height:40vh;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-evenly;
    /* background-color:green; */
}


@keyframes example {
    from {top: 0px;}
    to {top: 100px; background-color: white; border-radius: 5px 20px 5px;}
  }

.about_header>h2{
    /* text-align:center; */
    width: 200px;
    height: 50px;
    position: relative;
    animation-name: example;
    animation-duration: 10s;  
    animation-fill-mode: forwards;
    padding-left:10px;
    font-family: 'Segoe UI';
    font-weight:450;
  }
  .about_h1{
    background-color:#ffbc13;
    padding:15px;
    border-radius: 2em 1em 4em / 0.5em 3em;
  }

  .text_h{
    /* background-color:red; */
    width:100%;
    height:30px;
    display: flex;
    align-items: center;
    justify-content:flex-end;
  }

  .text_head {
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
    font-weight: bold;
    font-family: 'Segoe UI';
    color: white;
  }
  
  .text_head:first-of-type {    /* For increasing performance 
                         ID/Class should've been used. 
                         For a small demo 
                         it's okaish for now */
    animation: showup 7s infinite;
  }
  
  .text_head:last-of-type {
    width:0px;
    animation: reveal 7s infinite;
  }
  
  .text_head:last-of-type span {
    margin-left:-355px;
    animation: slidein 7s infinite;
  }
  
  @keyframes showup {
      0% {opacity:0;}
      20% {opacity:1;}
      80% {opacity:1;}
      100% {opacity:0;}
  }
  
  @keyframes slidein {
      0% { margin-left:-800px; }
      20% { margin-left:-800px; }
      35% { margin-left:0px; }
      100% { margin-left:0px; }
  }
  
  @keyframes reveal {
      0% {opacity:0;width:0px;}
      20% {opacity:1;width:0px;}
      30% {width:355px;}
      80% {opacity:1;}
      100% {opacity:0;width:355px;}
  }
  


.overlay>h1{
    padding:20px;
}
.about_msg>img{
    height:100%;
    width:100%;
    opacity:0.85;
}

.about_eimt{
    width: 100%;
    padding-top:50px;
    padding-bottom:50px;
    /* background-color: red; */
    display:flex;
    align-items: center;
    justify-content: center;
    
}

.about_eimt_div{
    width:70%;
    padding-top:20px;
    padding-bottom: 20px;
    background-color:white;
    display: flex;
    /* height:0vh; */
    align-items: center;
    justify-content:space-evenly;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(123, 123, 123, 0.8) -6px -2px 16px 0px;;

}

.about_eimt_img{
    width:30%;
    height:60vh;
    /* background-color:blue; */
}

.about_eimt_img>img{
    width:100%;
    height:60vh;
}

.about_eimt_details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:65%;
    height:60vh;
    /* background-color:green; */
    letter-spacing: 1px;
}

.about_eimt_details>h4{
    padding-bottom:10px;
    color:#f60!important;
    font-weight: 500!important;
    font-family: 'Segoe UI' ;
}

.about_eimt_details>p{
    font-family: 'Segoe UI' ;
    color:#6C6A74;
}

@media (min-width: 375px ) {

    .about_msg>img{
        object-fit: cover;
        opacity:0.85;
    }

    .new_slider{
        margin-top:35px;
        display:flex;
        flex-direction: column;
        align-items:center;
        justify-content:center;
        /* background-color:red;  */

    }
    .new_slider>h1{
        padding-top:10px;
        padding-bottom:20px;
        /* background-color:#b4d5fd; */
    }
    
    .sliderimg{
        width: 50%;
        /* background-color:red;  */
        height: 200px;
        object-fit: center;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
       }

      .ins_logo{
        display: none
      }

      .about_eimt_div{
        /* flex-direction: column!important; */
        width:90%;
        

      }

      .about_eimt_img{
        width:100%;
      }

      .about_eimt_details>h4{
        text-align: center;
      }
      .about_eimt_details>p{
        padding-left:5px;
        padding-right:5px;
      }
      .about_eimt_details{
        width:100%;
        text-align: contain;
        height:auto;
        text-align: justify;
      }

      .flex-row{ display: flex !important;
        flex-direction: column !important;
    }

    .d-flex{
        display: flex !important;
        flex-direction: column !important;
    
    }
  
}

@media (min-width: 576px ) {
    .sliderimg{
        width: 100%; 
         height: 100px; 
         object-fit: cover 
       }
}

@media (min-width: 1200px) { 
    .new_slider{
        display: none;
       } 

       .ins_logo{
        height:50vh;
        background-color: #b4d5fd;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .slider{
        width:100%;
        /* background-color: blue; */
        height:35vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    
    .logo_1, .logo_2, .logo_3{
        width:100%;
        height:150px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    
    .about_eimt{
        width: 100%;
        padding-top:50px;
        padding-bottom:50px;
        /* background-color: red; */
        display:flex;
        align-items: center;
        justify-content: center;
        
    }
    
    .about_eimt_div{
        width:80%;
        padding-top:20px;
        padding-bottom: 20px;
        padding-right: 10px;
        background-color:white;
        display: flex!important;
        /* height:0vh; */
        align-items: center;
        justify-content:space-evenly;
        box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(123, 123, 123, 0.8) -6px -2px 16px 0px;;
    
    }
    
    .about_eimt_img{
        width:45%;
        height:60vh;
        /* background-color:blue; */
    }
    
    .about_eimt_img>img{
        width:100%;
        height:60vh;
    }
    
    .about_eimt_details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width:80%;
        height:60vh;
        /* background-color:green; */
        letter-spacing: 1px;
    }
    
    .about_eimt_details>h4{
        padding-bottom:10px;
        color:#f60!important;
        font-weight: 500!important;
        font-family: 'Segoe UI' ;
        text-align:left;
        padding-left:2px;
    }
    
    .about_eimt_details>p{
        font-family: 'Segoe UI' ;
        
    }
    
    .flex-row{
        flex-direction: row !important;
    }
    
    .d-flex{display:flex!important;}
    
} 

@media (min-width: 1400px ){
   .new_slider{
    display: none;
   }

   .ins_logo{
    height:50vh;
    background-color: #b4d5fd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slider{
    width:100%;
    /* background-color: blue; */
    height:35vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.logo_1, .logo_2, .logo_3{
    width:100%;
    height:150px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.about_eimt{
    width: 100%;
    padding-top:50px;
    padding-bottom:50px;
    /* background-color: red; */
    display:flex;
    align-items: center;
    justify-content: center;
    
}

.about_eimt_div{
    width:70%;
    padding-top:20px;
    padding-bottom: 20px;
    background-color:white;
    display: flex!important;
    /* height:0vh; */
    align-items: center;
    justify-content:space-evenly;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(123, 123, 123, 0.8) -6px -2px 16px 0px;;

}

.about_eimt_img{
    width:35%;
    height:60vh;
    /* background-color:blue; */
}

.about_eimt_img>img{
    width:100%;
    height:60vh;
}

.about_eimt_details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:60%;
    height:60vh;
    /* background-color:green; */
    letter-spacing: 1px;
}

.about_eimt_details>h4{
    padding-bottom:10px;
    color:#f60!important;
    font-weight: 500!important;
    font-family: 'Segoe UI' ;
    text-align:left;
    padding-left:2px;
}

.about_eimt_details>p{
    font-family: 'Segoe UI' ;
    
}

.flex-row{
    flex-direction: row !important;
}

.d-flex{display:flex!important;}



} 