body{
    /* background-color: rgb(114, 161, 185); */
}

.row{
    position: fixed;
    top:0px;
}


.admin_panel{
    
    margin-top:90px;
    padding-bottom:20px;
    height:40vh;
    background-color:rgb(219, 157, 119);
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}


.course_nut{
    height:30vh;
    width:28%;
    background-color:white;
    border-radius:10px;
    box-shadow: rgba(143, 143, 143, 0.48) 6px 2px 16px 0px, rgba(104, 103, 103, 0.8) -6px -2px 16px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align:center;
    padding-left: 10px;

}

.course_nut1{
    height:20vh;
    width:13%;
    background-color:white;
    border-radius:10px;
    box-shadow: rgba(143, 143, 143, 0.48) 6px 2px 16px 0px, rgba(104, 103, 103, 0.8) -6px -2px 16px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align:center;
    padding-left: 10px;
}

.contact_count{
    /* background-color: red; */
    width:80%;
}

.add_btn{
    width:8%;
    height:20vh;
    border-radius:10px;
    display:flex;
    justify-content:flex-end;
    /* background-color: red; */
}

.add_btn>button{
    height:40px;
    width:auto;
    border: 1px solid rgb(50, 196, 50);
    color:white;
    font-weight:bold;
    background-color:rgb(46, 129, 46);
    border-radius:5px;
    padding-left:10px;
    padding-right:10px;
}

.add_btn>button:hover{
    background-color:white;
    color:Black;
}

.data_container{
    background-color:rgb(219, 157, 119);

    width:100%;
    padding-top:20px;
    padding-bottom: 20px;
    /* background-color:blue; */
    display: flex;
    justify-content: center;
}


.data_table{
    width:87%;
    padding-top:5px;
    padding-bottom: 5px;
    background-color:white;
    border-radius: 5px;
}

table{
    width:100%;
}

tr,th,td{
    padding:10px;
    border: 1px solid grey;
   
}

.add_modal{
    width:100%;
    height:87vh;
    background-color:rgba(78, 78, 78, 0.518);
    position:fixed;
    display: flex;
    align-items: center;
    justify-content:center;
}

.add_container{
    width:25%;
    height:430px;
    background-color:white;
}

.add_head{
    width:100%;
    height:60px;
    /* background-color:blue; */
    padding-left:10px;
    padding-right:10px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.add_head>button{
    border:none;
    background:none;
}

.add_field{
    width:100%;
    height:300px;
    /* background-color:red; */
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items:center;
}

.add_field>input{
    width:80%;
    height:40px;
    text-indent: 10px;
}

.add_button{
    width:100%;
    height:70px;
    /* background-color:green; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.add_button>button{
    padding-top:12px;
    padding-bottom:12px;
    padding-left:20px;
    padding-right:20px;
    border:1px solid rgb(44, 132, 44);
    background-color:rgb(44, 132, 44);
    color:white;
    border-radius:10px;
}