

.filter_container{
    width:100%;
    height:25vh;
    /* background-color: blue; */
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.filter_container>button{
    padding:5px;
    padding-left:10px;
    padding-right:10px;
    border-radius: 20px;
    background-color:white;
    border:1px solid rgb(155, 155, 155);
}

.filter_container>button:hover{
    background-color:#EF6666;
    color:white;
}

.course_container{
    width:100%;
    padding-top:50px;
    padding-bottom:50px;
    background-color:#b4d5fd;
    display:flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    row-gap: 25px;
}

.course_container1{
    width:20%;
    height:45vh;
    background-color:white;
    /* display:flex;
    flex-direction: column; */
    margin-right:10px;
    border-radius: 5px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(123, 123, 123, 0.8) -6px -2px 16px 0px;;

}

.course_img_cont{
    height:50%;
    width:100%;
    /* background-color: green; */
}

.course_img_cont>img{
    width:100%;
    height:100%;
}

.course_details_cont{
    height:50%;
    width:100%;
    /* background-color: rgb(56, 153, 56); */
    padding-left:8px;
    padding-right:8px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.course_details_cont>p{
    font-size:12px;
    color:grey;
}


@media (min-width: 375px ) {
    .course_container{
        padding-top:50px;
        padding-bottom:50px;
    }
    .course_container1{
        width:95%;
        display: flex;
        height:25vh;
    }

    .course_img_cont{
        height: auto;
        width:47%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .course_img_cont>img{
        height:110px;
        border-radius:8px;
    }
    .course_details_cont{
        height:auto;
        overflow:hidden;
    }
}

@media screen and (min-width: 1000px) and (max-width:1399px){
    .filter_container{
        width:100%;
        height:25vh;
        /* background-color: blue; */
        display:flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .filter_container>button{
        padding:5px;
        padding-left:10px;
        padding-right:10px;
        border-radius: 20px;
        background-color:white;
        border:1px solid rgb(155, 155, 155);
    }
    
    .filter_container>button:hover{
        background-color:#EF6666;
        color:white;
    }
    
    .course_container{
        width:100%;
        padding-top:50px;
        padding-bottom:50px;
        /* background-color:red; */
        display:flex;
        justify-content:space-evenly;
        flex-wrap: wrap;
        row-gap: 25px;
    }
    
    .course_container1{
        width:20%;
        height:45vh;
        background-color:white;
        display:flex;
        flex-direction: column;
        margin-right:10px;
    }
    
    .course_img_cont{
        height:50%;
        width:100%;
        /* background-color: green; */
    }
    
    .course_img_cont>img{
        width:100%;
        height:100%;
    }
    
    .course_details_cont{
        height:50%;
        width:100%;
        /* background-color: rgb(56, 153, 56); */
        padding-left:8px;
        padding-right:8px;
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .course_details_cont>p{
        font-size:12px;
        color:grey;
    }
}

@media (min-width: 1400px ) {


    .filter_container{
        width:100%;
        height:25vh;
        /* background-color: blue; */
        display:flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .filter_container>button{
        padding:5px;
        padding-left:10px;
        padding-right:10px;
        border-radius: 20px;
        background-color:white;
        border:1px solid rgb(155, 155, 155);
    }
    
    .filter_container>button:hover{
        background-color:#EF6666;
        color:white;
    }
    
    .course_container{
        width:100%;
        padding-top:50px;
        padding-bottom:50px;
        /* background-color:red; */
        display:flex;
        justify-content:space-evenly;
        flex-wrap: wrap;
        row-gap: 25px;
    }
    
    .course_container1{
        width:20%;
        height:48vh;
        background-color:white;
        display:flex;
        flex-direction: column;
        margin-right:10px;
        border-radius:8px;

    }
    
    .course_img_cont{
        height:50%;
        width:100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #D8ECF6;
        border-radius:8px;
    }
    
    .course_img_cont>img{
        width:90%;
        height:90%;
        border-radius:8px;
    }
    
    .course_details_cont{
        height:50%;
        width:100%;
        /* background-color: rgb(56, 153, 56); */
        padding-left:8px;
        padding-right:8px;
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .course_details_cont>p{
        font-size:12px;
        color:grey;
    }
    
}