.override{
    display:flex;
    align-items:center;
    justify-content:center;
    height:20vh;
}

.filter_container{
    width:100%;
    height:25vh;
    /* background-color: blue; */
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.filter_container>button{
    padding:5px;
    padding-left:10px;
    padding-right:10px;
    border-radius: 20px;
    background-color:white;
    border:1px solid rgb(155, 155, 155);
}

.filter_container>button:hover{
    background-color:#EF6666;
    color:white;
}

.course_container{
    width:70%;
    padding-top:50px;
    padding-bottom:50px;
    /* background-color:#b4d5fd; */
    display:flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    row-gap: 30px;
}

.course_container1{
    width:25%;
    height:45vh;
    background-color:white;
    /* display:flex;
    flex-direction: column; */
    margin-right:10px;
    border-radius: 5px;
    box-shadow: rgba(161, 161, 161, 0.48) 6px 2px 16px 0px, rgba(183, 183, 183, 0.8) -6px -2px 16px 0px;;

}

.course_img_cont{
    height:50%;
    width:100%;
    /* background-color: green; */
}

.course_img_cont>img{
    width:100%;
    height:100%;
}

.course_details_cont{
    height:50%;
    width:100%;
    /* background-color: rgb(56, 153, 56); */
    padding-left:8px;
    padding-right:8px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.course_details_cont>p{
    font-size:12px;
    color:grey;
}

.course_header_tag{
    height:15vh;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.course_header_tag>h2{
    padding-top:30px;
}

select {

    /* styling */
    background-color: white;
    border: thin solid blue;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
  
    /* reset */
  
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  
select.classic {
    background-image:
      linear-gradient(45deg, transparent 50%, blue 50%),
      linear-gradient(135deg, blue 50%, transparent 50%),
      linear-gradient(to right, skyblue, skyblue);
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      100% 0;
    background-size:
      5px 5px,
      5px 5px,
      2.5em 2.5em;
    background-repeat: no-repeat;
  }
  
select.classic:focus {
    background-image:
      linear-gradient(45deg, white 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, white 50%),
      linear-gradient(to right, gray, gray);
    background-position:
      calc(100% - 15px) 1em,
      calc(100% - 20px) 1em,
      100% 0;
    background-size:
      5px 5px,
      5px 5px,
      2.5em 2.5em;
    background-repeat: no-repeat;
    border-color: grey;
    outline: 0;
  }

@media (min-width: 100px ){
    .course_container{
        padding-top:50px;
        padding-bottom:50px;
    }
    .course_container1{
        padding-top:10px;
        padding-bottom:10px;
        padding-left:5px;
        padding-right: 5px;
        width:95%;
        display: flex;
        height:auto;
        box-shadow: rgba(214, 214, 214, 0.48) 6px 2px 16px 0px, rgba(210, 210, 210, 0.8) -6px -2px 16px 0px;;
    }

    .course_img_cont{
        height: auto;
        width:55%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .course_img_cont>img{
        height:90px;
        border-radius:8px;
    }
    .course_details_cont{
        height:auto;
        overflow: hidden;
        display:flex;
        align-items: center;
    }

    .course_details_cont>p{
        display:none;
    }
    

    .course_header_tag{
        /* padding-top:10px; */
    }

    .cour_modal_container{
        width:100%;
        margin-top:90px;
        height:90vh;
        background-color:rgba(161, 161, 161,.7);
        position:fixed;
        display:flex;
        align-items: center;
        justify-content:center;
        z-index: 15;
    }

    .cour_m{
        width:100%;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-evenly;
    }

    .close_cont{
        width:98%;
        height:20px;
        /* background-color:green; */
        margin-bottom:10px;
        display: flex;
        align-items: center;
        justify-content:flex-end;
    }

    .close_cont>button{
        background:none;
        border:none;
        border-radius: 5px;
    }

    .cour_modal{
        border-radius: 5px;
        width:90%;
        height:auto;
        padding-top:10px;
        padding-bottom:25px;
        padding-left:20px;
        padding-right:20px;
        background-color:white;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-evenly;
    }
    
    .cour_img>img{
        border-radius:5px;
    }
    .cour_img{
        width:100%;
        height:150px;
        background-color:rgb(164, 221, 245);
        padding:10px;
        border-radius:10px;
        display:none
    }

    .view_more{
        width:60%;
        border:1px solid rgb(236, 138, 155);
        background-color:rgb(236, 138, 155);
        font-size:12px;
        font-weight:bold;
        border-radius:5px;
    }

    .cour_details{
        width:100%;
        height:auto;
        /* background-color:blue; */
        padding-top:10px;
        padding-bottom:10px;
        padding-left:10px;
        padding-right:10px;
        background-color:rgb(240, 240, 240);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: space-evenly;
        text-align: justify;
    }
    .cour_details>h3{
        padding-bottom:10px;
        text-align: justify;
    }

    .flex-row{ display: flex !important;
        flex-direction: column !important;
    }

    .d-flex{
        display: flex !important;
        flex-direction: column !important;
    
    }
}

@media (min-width: 375px ) {
    .course_container{
        padding-top:50px;
        padding-bottom:50px;
    }
    .course_container1{
        padding-top:10px;
        padding-bottom:10px;
        padding-left:5px;
        padding-right: 5px;
        width:95%;
        display: flex;
        height:auto;
        box-shadow: rgba(214, 214, 214, 0.48) 6px 2px 16px 0px, rgba(210, 210, 210, 0.8) -6px -2px 16px 0px;;

        /* border:1px solid lightgrey; */
    }

    .course_img_cont{
        height: auto;
        width:55%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .course_img_cont>img{
        height:90px;
        border-radius:8px;
    }
    .view_more{
        width:60%;
        border:1px solid rgb(236, 138, 155);
        background-color:rgb(236, 138, 155);
        font-size:12px;
        font-weight:bold;
        border-radius:5px;
    }
    .course_details_cont{
        height:auto;
        overflow: hidden;
        display:flex;
        align-items: center;
    }
    
    .course_details_cont>p{
        display:none
    }

    .course_header_tag{
        /* padding-top:10px; */
    }

    
    .cour_modal_container{
        width:100%;
        margin-top:90px;
        height:90vh;
        background-color:rgba(161, 161, 161,.7);
        position:fixed;
        display:flex;
        align-items: center;
        justify-content:center;
        z-index: 15;
    }

    .cour_m{
        width:100%;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-evenly;
    }

    .close_cont{
        width:98%;
        height:20px;
        /* background-color:green; */
        margin-bottom:10px;
        display: flex;
        align-items: center;
        justify-content:flex-end;
    }

    .close_cont>button{
        background:none;
        border:none;
        border-radius: 5px;
    }

    .cour_modal{
        border-radius: 5px;
        width:90%;
        height:auto;
        padding-top:10px;
        padding-bottom:25px;
        padding-left:20px;
        padding-right:20px;
        background-color:white;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-evenly;
    }
    
    .cour_img>img{
        border-radius:5px;
    }
    .cour_img{
        width:100%;
        height:150px;
        background-color:rgb(164, 221, 245);
        padding:10px;
        border-radius:10px;
        display:none
    }

    .cour_details{
        width:100%;
        height:auto;
        /* background-color:blue; */
        padding-top:10px;
        padding-bottom:10px;
        padding-left:10px;
        padding-right:10px;
        background-color:rgb(240, 240, 240);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: space-evenly;
        text-align: justify;
    }
    .cour_details>h3{
        padding-bottom:10px;
        text-align: justify;
    }
    .flex-row{ display: flex !important;
        flex-direction: column !important;
    }

    .d-flex{
        display: flex !important;
        flex-direction: column !important;
    
    }
}

@media screen and (min-width: 1000px) and (max-width:1399px){
    [data-aos^=fade][data-aos^=fade].aos-animate {
        opacity: 1;
        transform: translateZ(0);
        transition-duration: 1s;
    }
    .view_more{
        display: none;
    }
    .filter_container{
        width:100%;
        height:25vh;
        /* background-color: blue; */
        display:flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .filter_container>button{
        padding:5px;
        padding-left:10px;
        padding-right:10px;
        border-radius: 20px;
        background-color:white;
        border:1px solid rgb(155, 155, 155);
    }
    
    .filter_container>button:hover{
        background-color:#EF6666;
        color:white;
    }
    
    .course_container{
        width:100%;
        padding-top:50px;
        padding-bottom:50px;
        /* background-color:red; */
        display:flex;
        justify-content:space-evenly;
        flex-wrap: wrap;
        row-gap: 30px;
    }
    
    .course_container1{
        width:22%;
        height:30vh;
        background-color:white;
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-right:10px;
        border-radius:8px;

    }
    
    .course_img_cont{
        height:100%;
        width:100%;
        display: flex;
        align-items: center;
        justify-content: center;
        /* background-color: #D8ECF6; */
        border-radius:8px;
    }
    
    .course_img_cont>img{
        width:100%;
        height:100%;
        border-radius:8px;
    }
    
    .course_details_cont{
        padding-top:5px;
        height:auto;
        width:22%;
        background-color: rgb(243, 243, 243);
        padding-left:8px;
        padding-right:8px;
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        position:absolute;
        border-radius: 5px;
    }

    .course_details_cont>h6{
        color:rgb(11, 45, 87);
    }
    
    .course_details_cont>p{
        font-size:12px;
        color:rgb(106, 106, 106);
        display:none;
        
    }

    /* .course_container1:hover>.course_details_cont>p{
        
            display:block;
        
        
    } */

    
    .cour_modal_container{
        width:100%;
        margin-top:90px;
        height:90vh;
        background-color:rgba(161, 161, 161,.7);
        position:fixed;
        display:flex;
        align-items: center;
        justify-content:center;
        z-index: 15;
    }

    .cour_m{
        width:100%;
        display:flex;
        align-items: center;
        justify-content:space-evenly;
    }

    .close_cont{
        width:98%;
        height:20px;
        /* background-color:green; */
        margin-bottom:10px;
        display: flex;
        align-items: center;
        justify-content:flex-end;
    }

    .close_cont>button{
        background:none;
        border:none;
        border-radius: 5px;
        
    }

    .cour_modal{
        border-radius: 5px;
        width:70%;
        height:auto;
        padding-top:20px;
        padding-bottom:35px;
        padding-left:20px;
        padding-right:20px;
        background-color:white;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-evenly;
    }
    
    .cour_img>img{
        border-radius:5px;
    }
    .cour_img{
        width:35%;
        height:250px;
        background-color:rgb(164, 221, 245);
        padding:10px;
        border-radius:10px;
        display: block;
    }

    .cour_details{
        width:60%;
        height:auto;
        padding-top:10px;
        padding-bottom:10px;
        padding-left:10px;
        padding-right:10px;
        background-color:rgb(240, 240, 240);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: space-evenly;
    }
    .cour_details>h3{
        padding-bottom:10px;
    }
    
    .flex-row{
        display:flex;
        flex-direction: row !important;
    }

    .d-flex{display:flex!important;}
}

@media (min-width: 1400px ) {
    [data-aos^=fade][data-aos^=fade].aos-animate {
        opacity: 1;
        transform: translateZ(0);
        transition-duration: 1s;
    }

    .view_more{
        display: none;
    }
    .filter_container{
        width:100%;
        height:25vh;
        /* background-color: blue; */
        display:flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .filter_container>button{
        padding:5px;
        padding-left:10px;
        padding-right:10px;
        border-radius: 20px;
        background-color:white;
        border:1px solid rgb(155, 155, 155);
    }
    
    .filter_container>button:hover{
        background-color:#EF6666;
        color:white;
    }

    .course_container_h{
        width:100%;
        padding-top: 2px;
        padding-bottom:2px;
        display:flex;
    }

    .course_index{
        width:20%;
        padding-top:10px;
        padding-bottom: 10px;
        /* background-color:blue; */
        display:flex;
        flex-direction:column;
        align-items:center
    }
    
    .course_container{
        width:80%;
        padding-top:50px;
        padding-bottom:50px;
        /* background-color:red; */
        display:flex;
        justify-content:space-evenly;
        flex-wrap: wrap;
        row-gap: 50px;
        column-gap: 3%;
    }
    
    .course_container1{
        width:25%;
        height:30vh;
        background-color:white;
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-right:10px;
        border-radius:8px;

    }
    
    .course_img_cont{
        height:100%;
        width:100%;
        display: flex;
        align-items: center;
        justify-content: center;
        /* background-color: #D8ECF6; */
        border-radius:8px;
    }
    
    .course_img_cont>img{
        width:100%;
        height:100%;
        border-radius:8px;
    }
    
    .course_details_cont{
        padding-top:5px;
        height:auto;
        width:20%;
        background-color: rgb(243, 243, 243);
        padding-left:8px;
        padding-right:8px;
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        position:absolute;
        border-radius: 5px;
    }

    .course_details_cont>h6{
        color:rgb(11, 45, 87);
    }
    
    .course_details_cont>p{
        font-size:12px;
        color:rgb(106, 106, 106);
        display:none;
        
    }

    /* .course_container1:hover>.course_details_cont>p{
            display:block;
    } */

    .cour_modal_container{
        width:100%;
        margin-top:90px;
        height:90vh;
        background-color:rgba(161, 161, 161,.7);
        position:fixed;
        display:flex;
        align-items: center;
        justify-content:center;
        z-index: 15;
    }

    .cour_m{
        width:100%;
        display:flex;
        align-items: center;
        justify-content:space-evenly;
    }

    .close_cont{
        width:98%;
        height:25px;
        /* background-color:green; */
        margin-bottom:10px;
        display: flex;
        align-items: center;
        justify-content:flex-end;
    }

    .flex-row{
        display:flex;
        flex-direction: row !important;
    }

    .d-flex{display:flex!important;}

    .close_cont>button{
        background:none;
        border:none;
        border-radius: 5px;
    }

    .cour_modal{
        border-radius: 5px;
        width:60%;
        height:auto;
        padding-top:20px;
        padding-bottom:35px;
        padding-left:20px;
        padding-right:20px;
        background-color:white;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-evenly;
    }
    
    .cour_img>img{
        border-radius:5px;
    }
    .cour_img{
        width:35%;
        height:250px;
        background-color:rgb(164, 221, 245);
        padding:10px;
        border-radius:10px;
        display: block;
    }

    .cour_details{
        width:60%;
        height:auto;
        /* background-color:blue; */
        padding-top:10px;
        padding-bottom:10px;
        padding-left:10px;
        padding-right:10px;
        background-color:rgb(240, 240, 240);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: space-evenly;
    }
    .cour_details>h3{
        padding-bottom:10px;
    }
}