
*::before, *::after {
    box-sizing: border-box;
}

.lan_banner{
    width:100%;
    background-image: linear-gradient(to bottom, #e8eef9, #ffffff);
    height:550px;
    margin-top:90px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.lan_banner>img{
    width:100%;
    height:100%;
    border-radius:10px;
}

.lan_qa{
    width:100%;
    height:10vh;
    /* background-color:blue; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.lan_qa1{
    width:90%;
    height:10vh;
    border-bottom:1px solid rgb(220, 220, 220);
    display:flex ;
    align-items: center;
}


.ac_team{
    width:100%;
    padding-top:10px;
    padding-bottom:10px;
    background-color:linear-gradient(to top, #e8eef9, #ffffff);
    display: flex;
    flex-direction: column;
    align-items:center;

}

.h2{
    font-size:30px;
    font-weight: 600;
    margin-bottom:30px;
}

.ac_team_mem{
    width:90%;
    padding-top:10px;
    padding-bottom:10px;
    /* background-color:yellow; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
}

.team{
    width:45%;
    /* background-color:blue; */
    display: flex;
}

.team:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.team_img{
    width:30%;
    height:200px;
    /* background-color:grey; */
    
    overflow:hidden;
}

.team_img>img{
    width:100%;
    height:100%;
    
}

.team_msg{
    width:70%;
    height:200px;
    /* background-color:white; */
    display: flex;
    align-items: center;
    justify-content:center;
}

.team_msg_con::before{
    content: "\A";
    border-style: solid;
    border-width: 10px 15px 10px 0;
    border-color:  transparent #E5F1FF transparent transparent ;
    position: fixed;
    left: -15px;
    top:50px;
    
}

.team_msg_con{
    width:100%;
    height:200px;
    background-color:#E5F1FF;
    padding:15px;
    
}

.team_msg_con>p{
    text-align:justify;
    color:rgb(77, 77, 77);

}

.team_msg_con2{
    width:100%;
    height:200px;
    background-color:#0a99ae24;
    padding:15px;

}

.team_msg_con2>p{
    color:rgb(77, 77, 77);
    text-align:justify;
    
}

.team_msg_con2::before{
    content: "\A";
    border-style: solid;
    border-width: 10px 0px 10px 15px;
    border-color:  transparent transparent transparent #0a99ae24;
    position: fixed;
    right: -15px;
    top:50px;
    
}

.about_elc{
    width:100%;
    padding-top:30px;
    padding-bottom:10px;
    background-image: linear-gradient(to top, #f4f6fa, #ffffff);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_elc_p{
    width:80%;
    text-align:justify;
    padding-top:10px;
    padding-bottom:10px;
}

.elc_course{
    width:100%;
    padding-top:20px;
    padding-bottom:10px;
    background-image: linear-gradient(to top, #f3f4f6, #ffffff);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.elc_courses{
    width:100%;
    display: flex;
    align-items: flex-start;
    justify-content:center;
}

.elc_course1{
 width:20%;
 /* background-color: blue; */
 padding-top:10px;
 padding-bottom:30px;
 display: flex;
 flex-direction: column;
}

.elc_cours{
    width:100%;
    padding-top: 15px;
    padding-bottom: 5px;
    /* background-color:red; */
}

.elc_cours>img{
    width:100%;
    height:500px;
}

.elc_course2{
 width:65%;
 /* background-color: rgb(180, 180, 202); */
 padding-top:20px;
 padding-bottom:10px;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-wrap: wrap;
 column-gap:3%;
 row-gap: 20px;
}
.admi_div{
    width:100%;
    padding-top:35px;
    padding-bottom:15px;
    background: #E5F1FF;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
}

.admi_div1{
    width:80%;
    padding-bottom:10px;
    display:flex;
    align-items:center;
    justify-content: center;
}

.elc_team{
    width:100%;
    padding-top:30px;
    padding-bottom:30px;
    /* background-color:red;   */
    display: flex;
    align-items: center;
    justify-content: center;
}

.elc_team_dtls{
    width:90%;
    padding-top:30px;
    padding-bottom:30px;
    /* background-color:blue;  */
    display: flex;
    align-items: center;
    justify-content:space-between
}

.elc_team_dtls1{
    width:30%;
    /* background-color:green; */
    padding-top:10px;
    padding-bottom:10px;
}

.elc_team_dtls2{
    width:70%;
    /* background-color:rgb(194, 213, 194); */
    padding-top:10px;
    padding-bottom:10px;
}


.msg_tab_img>img{
    width:90%;
}

.msg_tab2{
    /* margin-bottom: 10px; */
    width: 100%;
    height:auto;
    padding-top:10px;
    padding-bottom:10px;
    margin-bottom:20px;
    background-color:#fff;
    box-shadow:0 12px 22px 0 rgb(0 0 0 / 7%);
    /* background-color:yellow; */
    padding-left: 10px;
    border-radius:0px;
    border-left:3px solid #FFC300 !important;
    display:flex;
    align-items: center;
    justify-content: flex-start;
}

.msg_tab2:hover{
    cursor: pointer;
    color:rgb(198, 94, 94);
}

.msg_tab2:checked{
    background-color: rgb(163, 88, 88);
}

tr{
    display:flex;
    flex-direction: column;
}

tr>td>select{
    border:none;
    padding:0px;
}

tr>td>select:focus{
    outline:none;
}

tr{
    border:none
}

td:hover{color:rgb(161, 84, 69)}

td{
    border:1px solid lightgrey;
    color:#3c3c3c;
}

.elc_course2_div{
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    width:30%;
    padding-top:15px;
    padding-bottom:10px;
    padding-left:12px;
    padding-right:10px;
    background-color:#fff;
    border-radius:10px;
    border: 1px solid #c3d6e8;
    border-radius: 8px;
    font-family: 'Inter', sans-serif !important;
}

.elc_course2_div>h4{
    font-weight: 800;
    color:#377DFF;
}

.pagination{
    width:50%;
    padding-top:10px;
    padding-bottom:10px;
    /* background-color:blue; */
    display: flex;
    align-items: center;
    justify-content:flex-end;
}

.pagination_opt{
    width:50%;
    height:30px;
    /* background-color:red; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}